<div id="sidebar">
  <% if (currentNation) { %>
    <strong><a href="" class="nation-link"><%= currentNation.get('name') %></a></strong><br>
    <strong><a href="#/issues">Issues</a><br></strong>
    <a href="" class="logout">Log Out</a>
  <% } else { %>
    <strong><a href="">Home</a></strong><br>
    <strong><a href="/nations/new">New Nation</a><br></strong>
  <% } %>
</div>

<div id="nations">
  <table class="nations-table">
    <% if (nations) { %>
      <% nations.each(function (nation) { %>
        <tr>
          <td>
            <a href="/#nations/<%= nation.get('nations')[0].id %>">
              <%= nation.get('nations')[0].name %>
            </a>
          </td>
          <td>
            <%= nation.get('gov_type') %>
          </td>
        </tr>
      <% }) %>
    <% } %>
  </table>
</div>
