<h1>NationStates</h1>

<div id="sidebar">
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>NATION
      <input type="text" name="nation[name]" value=""><br>
    </label>
    <label>PASSWORD
      <input type="password" name="nation[password]" value="">
    </label>

    <input type="submit" value="Log In" class="log-in">

  </form>
</div>

<div id="main">
  <p class="welcome-text">Welcome to NationStates, a nation simulation game.
    Here, you can create a utopia for your people, or condemn them to tyranny.
    The choice is yours.</p>
    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <label>NATION
        <input type="text" name="nation[name]" value=""><br>
      </label>
      <label>PASSWORD
        <input type="password" name="nation[password]" value="">
      </label>
      <input type="submit" value="Log In" class="log-in">
    </form>
    <%= link_to "Create New Nation", new_nation_url %>
</div>

<p>Inspired by <a href="www.nationstates.net">NationStates</a>.</p>
