<div id="main-section">
  <p class="welcome-text">Welcome to NationStates, a nation simulation game.
    Here, you can create a utopia for your people, or condemn them to tyranny.
    The choice is yours.</p>
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Nation<br>
      <input type="text" name="nation[name]" value=""><br>
    </label>
    <label>Password<br>
      <input type="password" name="nation[password]" value=""><br>
    </label>
    <input type="submit" value="Log In" class="log-in">
  </form>
  <form action="/nations/create/guest" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Guest Nation" class="guest-nation"><br><br>
  </form>
  <%= button_to "Create New Nation", new_nation_url, method: :get %>
</div>
