// Place all the styles related to the Nations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-new-nation {
  margin-left: 180px;
  margin-top: 70px;
  font-size: 20px;
}

table {
  border-spacing: 0;
  text-align: right;
}

td {
    padding: 5px;
}
