// Place all the styles related to the Nations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-new-nation {
  margin-left: 180px;
  margin-top: 70px;
  font-size: 16px;
}

table {
  border-spacing: 0;
  text-align: right;
}

.ideology-questions {
  text-align: center;
}

.question {
  text-align: left;
}

td {
  padding: 5px;
}

.opt-text {
  width: 25%;
}
