// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  position: absolute;
  left: 0px;
  width: 160px;
  top: 52px;
  height: 100%;
  color: green;
  background-color: #EEEEE0;
  font-size: 12px;
  word-wrap: break-word;
}

#sidebar a {
  font-size: 18px;
  color: green;
  text-decoration: none;
  display: inline-block;
}

#sidebar a.nation-link {
  font-size: 24px;
  padding-bottom: 30px;
}

h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #909070;
  color: #EFEFEF;
  font-size: 52px;
  text-align: center;
}

#main-section {
  margin-left: 180px;
  margin-top: 70px;
  font-size: 20px;
  text-align: center;
}

#nation, #issues, #issue {
  margin-left: 180px;
  margin-top: 70px;
  font-size: 20px;
}

h2.name {
  text-align: center;
}

h3.motto {
  text-align: center;
}

.summary {
  border-radius: 5px;
  background-color: #EAEAE0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 5px #000;
  border-spacing: 10px;
  border: 4px solid gray;
}

.summary td {
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
}

.stat {
  text-align: center;
  width: 33%;
}

.issue-list a {
  color: green;
  text-decoration: none;
}

h6 {
  color: #CC6600;
}

.footer {
  margin: 0 0 0 180px;
  position: absolute;
  bottom: 0px;
}

.errors {
  margin: 0 0 0 180px;
  text-align: center;
  font-size: 16px;
  color: red;
}
